<!DOCTYPE html>
<html>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
<style>
    th{ 
        color:#fff;
            }
            button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #318ee6;
}

.registerbtn {
    width: auto;
  padding: 10px 18px;
  background-color: rgb(0, 140, 255);
}
</style>
</head>

<body>
    <h3>Pending Pickup Request</h3>
<table class="table table-striped">
    <tr  class="bg-info">
        <th>Serial No.</th>
        <th>Customer Name</th>
        <th>Address</th>
        <th>Date for Pickup Request</th>
        <th>Reason for Request</th>
        <th>Approve Request</th>
    </tr>

    <tbody id="myTable">
        
    </tbody>
</table>

<button type="button" class="cancelbtn" ><a href="/dashboard">Return to Dashboard</a></button>

<script>
	var myArray = []
	
    fetch('http://localhost:3000/admin/show-pickup-request').then(function (response) {
	// The API call was successful!
	return response.json();
    }).then(function (data) {
        // This is the JSON from our response
        myArray = data.data;
        buildTable(myArray)
    }).catch(function (err) {
        // There was an error
        console.warn('Something went wrong.', err);
    });   



	function buildTable(data){
		var table = document.getElementById('myTable')

		for (var i = 0; i < data.length; i++){
            var x = i+1;
            console.log("d: ", data[i].date)
            var tempDate = data[i].date.replaceAll("/", "-")
            console.log("t", tempDate);
			var row = `<tr>
                            <td>${x}</td>
							<td>${data[i].name}</td>
							<td>${data[i].address}</td>
							<td>${data[i].date}</a></td>
                            <td>${data[i].reason}</a></td>
                            <td><a href="http://localhost:3000/admin/requestapproved/${data[i].uid}/${tempDate}">Click to Approve Request</a></td>
					  </tr>`
			table.innerHTML += row


		}
	}

</script>

</body>
</html>
