<!DOCTYPE html>


<html>
    <head>
        
        <style>
            body{background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
            h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
            p{font-size: 16px; text-align: center;}

        </style>
    </head>
    <body id="target">
        
        <h2> You Have Successfully Registered</h2>
        <button type="button"><a href="/dashboard">Return to Dashboard</a></button>
    </body>
    
        
                
</html>
