<!DOCTYPE html>
<html>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
<style>
    th{ 
        color:#fff;
            }
            button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #2661ce;
}

.registerbtn {
    width: auto;
  padding: 10px 18px;
  background-color: rgb(0, 140, 255);
}
</style>
</head>

<body>
    <h3>List of Customer</h3>
<table class="table table-striped">
    <tr  class="bg-info">
        <th>SNo.</th>
        <th>Customer ID</th>
        <th>Customer Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Registered</th>
    </tr>

    <tbody id="myTable">
        
    </tbody>
</table>

<button type="button" class="cancelbtn" ><a href="/dashboard">Return to Dashboard</a></button>

<script>
	var myArray = []
	
    fetch('http://localhost:3000/fetch/customer').then(function (response) {
	// The API call was successful!
	return response.json();
    }).then(function (data) {
        // This is the JSON from our response
        myArray = data.data;
        buildTable(myArray)
    }).catch(function (err) {
        // There was an error
        console.warn('Something went wrong.', err);
    });   



	function buildTable(data){
		var table = document.getElementById('myTable')

		for (var i = 0; i < data.length; i++){
            var x = i+1;
            var isverified;
            var registered = data[i].registered;
            if(registered){
                isverified = "Yes"
            }else{
                isverified = "No"
            }
			var row = `<tr>
                            <td>${x}</td>
							<td>${data[i].uid}</td>
							<td>${data[i].name}</td>
							<td>${data[i].email}</td>
                            <td>${data[i].address}</td>
                            <td>${data[i].phoneno}</td>
                            <td>${isverified}</td>
					  </tr>`
			table.innerHTML += row


		}
	}

</script>

</body>
</html>
