<!DOCTYPE html>


<html>
    <head>
        
        <style>
            body{background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
            h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
            p{font-size: 16px; text-align: center;}
            button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            }

            button:hover {
            opacity: 0.8;
            }
            .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
            }

        </style>
    </head>
    <body id="target">
        
        <h1> 401, Please Login First</h1>
        <br>
        <button type="button" class="cancelbtn"><a href="/login">Login</a></button>
    </body>
    
        
                
</html>
